.canvas-container {
   width: 100%;
   text-align:center;
}

#canvas {
   display: inline;
}

.leftFloating{
  float:left;
  text-align: left;
  margin-left: 4%;
  margin-top: 10%;
  width: 30%;
  line-height: 2em;
}

.rightFloating{
  float:right;
width: 60%;
}
a{
  color:black;
}
